<!-- Header -->
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg') }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Contact Me</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">

  <body style="text-align: center">
    <h1>Message sent!</h1>
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Return</a></li>
  </body>
</main>

{% include "footer.html" %}